* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* --------------
!!!!! Root !!!!!
-------------- */
:root {
  --Blue: #b2dafa;
  --Purple: #270722;
  --Platinum: #d7dedc;
  --Orange: #ff8552;
  --orange-dark: #5b2f1c;
}
/* --------------
!!!!! Body !!!!!
-------------- */
body,
header {
  display: flex;
  color: var(--Orange);
}
body {
  flex-direction: column;
  background-color: var(--Blue);
}
/* --------------
!!!!! Text !!!!!
-------------- */

/* --------------
!!!!! Start Hedder !!!!!
-------------- */
header {
  border: solid;
  justify-content: space-around;
}
/* --------------
!!!!! End Hedder !!!!!
-------------- */

/* --------------
!!!!! Main !!!!!
-------------- */

/* --------------
!!!!! Fotter !!!!!
-------------- */

/* --------------
!!!!! Button !!!!!
-------------- */
.nav-btn {
  margin: 10px;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: var(--Orange);
  color: var(--Purple);
}

.nav-btn :hover {
  background-color: var(--orange-dark);
  color: var(--Platinum);
}
