* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* --------------
!!!!! Root !!!!!
-------------- */
:root {
  --Blue: #b2dafa;
  --Purple: #270722;
  --Platinum: #d7dedc;
  --Orange: #ff8552;
  --orange-dark: #5b2f1c;
}
/* -------------------------
!!!!! Body and general !!!!!
------------------------- */
body,
header,
main {
  display: flex;
  color: var(--Purple);
}
body {
  flex-direction: column;
  margin: auto;
  background-color: var(--Blue);
  width: 425px;
}
header,
.nav-btn {
  margin-top: 10px;
}
/* --------------
!!!!! Text !!!!!
-------------- */
h1 {
  font-size: 100px;
}
/* --------------
!!!!! Start Hedder !!!!!
-------------- */

/* --------------
!!!!! End Hedder !!!!!
-------------- */

/* --------------
!!!!! Main !!!!!
-------------- */
main {
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}
/* --------------
!!!!! Fotter !!!!!
-------------- */

/* --------------
!!!!! Button !!!!!
-------------- */
.nav-btn {
  padding: 10px 20px;
  margin-inline: 10px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 170%;
  background-color: var(--Orange);
  color: var(--Purple);
}

.nav-btn :hover {
  background-color: var(--orange-dark);
  color: var(--Platinum);
}
