* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* ----
* Root *
------ */
:root {
  /* --text: #b2dafa; */
  --Text: #270722;
  --Background-dice: rgba(246, 237, 208, 0.75);
  --Background: #270722;
  --Text-hover: #d7dedc;
  --Btn-Background: #ff8552;
  --Btn-Hover: #5b2f1c;
}
/* -------
* Colors *
-------- */
body {
  background-color: var(--Background);
  color: var(--Text);
}
/* Dropdown and buttons colors */
.nav-btn,
.roll-btn,
.drop-down-content,
.drop-btn {
  background-color: var(--Btn-Background);
  color: var(--Text);
}
/* Dropdown and buttons hover colers */
.nav-btn:hover,
#roleplays-btn:hover,
.roll-btn:hover,
.dropdown-content a:hover {
  background-color: var(--Btn-Hover);
  color: var(--Text-hover);
}
main {
  color: var(--Text);
  background-color: var(--Background-dice);
  box-shadow: var(--Text) -1px 1px 5px;
}
body {
  box-shadow: var(--Text) -10px 10px 10px;
}
/* ---------------
* Body and general *
------------------ */
body,
header,
main,
#dices, /* skill-comtainer */
aside,
footer {
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
body {
  justify-content: start;
  width: 425px;
  padding: 10px 50px;
  border: solid;
  border-radius: 20px;
}
header {
  max-width: 100%;
}
header,
.nav.btn,
.roll-btn {
  margin-top: 10px;
}
.dice-input {
  width: 30px;
  height: 30px;
  border-radius: 40px;
}
.nav-btn,
.drop-btn {
  padding: 5px 10px;
  margin-inline: 5px;
}
#star-wars-btn {
  border-radius: 0px 0px 5px 5px;
}
.nav-btn,
.roll-btn,
#roleplays-btn {
  padding: 10px 20px;
}
.nav-btn,
.roll-btn,
#roleplays-btn {
  border: none;
}
.nav-btn,
.roll-btn,
#roleplays-btn {
  border-radius: 5px;
}
main {
  max-width: 100%;
}
/* ----
* Text *
------ */
.nav-btn,
.drop-btn {
  font-size: 20px;
  font-weight: bold;
}
.dice-lable {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}
.dropdown-content,
.drop-btn {
  max-width: 100%;
}
/* Roleplays-btn */

/* ------------------
* Flex and Alinment *
------------------- */
/* Flex */
body,
header,
main,
#dices, /* skill-comtainer */
aside,
footer {
  display: flex;
}
/* *Alinment* */
body,
main,
aside {
  flex-direction: column;
}
/* skill-comtainer */
#dices {
  flex-direction: row;
}
/* * Margin and padding * */
.nav-btn {
  margin-inline: 5px;
}

.roll-btn {
  margin-top: 10px;
  margin-bottom: 20px;
}
main {
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 10px;
  border-radius: 20px;
  padding: 50px 20px;
  width: 100%;
}
#dices {
  justify-content: space-evenly;
  width: 100%;
  padding: 0px 20px;
}
footer {
  margin: auto;
}
/* ---------------
* hoover Function *
----------------- */

.dropdown {
  position: relative;
  display: inline-block;
}
#roleplays-btn:hover {
  border-radius: 5px 5px 0px 0px;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 39px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown:hover .dropdown-content,
.dropdown-content a {
  display: block;
}
