* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* ----
* Root *
------ */
:root {
  --Background: #b2dafa;
  --Background-dice: rgba(246, 237, 208, 0.75);
  --Text: #270722;
  --Text-hover: #d7dedc;
  --Btn-Background: #ff8552;
  --Btn-Hover: #5b2f1c;
}
/* -------
* Colors *
-------- */
body {
  background-color: var(--Background);
  color: var(--Text);
}
/* Dropdown and buttons colors */
.nav-btn,
.dropdown-content,
.drop-btn {
  background-color: var(--Btn-Background);
  color: var(--Text);
}
/* Dropdown and buttons hover colers */
.nav-btn:hover,
.dropdown-content a:hover {
  background-color: var(--Btn-Hover);
  color: var(--Text-hover);
}
main {
  color: var(--Text);
  background-color: var(--Background-dice);
  box-shadow: var(--Purple) -5px 5px 10px;
}
body {
  box-shadow: var(--Purple) -10px 10px 10px;
}
/* ---------------
* Body and general *
------------------ */
body,
header,
main,
#dices, /* skill-comtainer */
aside,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
body {
  flex-direction: column;
  justify-content: start;
  width: 425px;
  padding: 10px;
  border: solid;
  border-radius: 20px;
}
header,
.nav.btn {
  margin-top: 10px;
}
/* ----
* Text *
------ */
.dice-lable {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* ------------------
* Flex and Alinment *
------------------- */
.nav-btn {
  margin-inline: 5px;
}
.nav-btn,
.drop-btn {
  padding: 10px 20px;
  border: none;
}
.dropdown-content,
.drop-btn {
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
/*  Main Section start */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 10px;
  border-radius: 20px;
  padding: 50px 20px;
  width: 100%;
}
#dices {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 0px 20px;
}
aside {
  flex-direction: column;
}
/* Aside Section End */
footer {
  margin: auto;
}

/* -------
* Button *
-------- */
.nav-btn {
  border-radius: 10px;
}
/* ---------------
* hoover Function *
----------------- */
.nav-btn:hover,
.dropdown:hover .dropbtn,
.dropdown-content a:hover {
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown:hover .dropdown-content,
.dropdown-content a {
  display: block;
}
