* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* ----
* Root *
------ */
:root {
  --Text: #270722;
  --Background-dice: #8e8e8eb5;
  --Background: #262626;
  --Text-hover: #d7dedc;
  --Btn-Background: #06aea3;
  --Btn-Hover: #02645e;
}
/* -------
* Colors Start *
-------- */
body {
  background-color: var(--Background);
  color: var(--Text);
}
/* Dropdown and buttons colors */
.nav-btn,
.roll-btn,
.drop-down-content,
.drop-btn {
  background-color: var(--Btn-Background);
  color: var(--Text);
  transition: 0.5s;
}
.nav-btn,
#roleplays-btn {
  box-shadow: -5px 5px 10px var(--Text), -3px 3px 10px var(--Text-hover) inset;
}
input[type="checkbox"]:checked {
  accent-color: var(--Btn-Background);
  box-shadow: -2px 2px 5px var(--Background);
}
/* Dropdown and buttons hover colors */
.nav-btn:hover,
#roleplays-btn:hover,
.roll-btn:hover,
.dropdown-content a:hover {
  background-color: var(--Btn-Hover);
  color: var(--Text-hover);
  transition: 0.5s;
}

main {
  color: var(--Text);
  background-color: var(--Background-dice);
  box-shadow: -5px 5px 10px var(--Text);
}
/* ----------
* Color End *
* Text Start *
------------ */
.nav-btn,
.drop-btn {
  font-size: 20px;
  font-weight: bold;
}

.dice-label {
  font-size: 30px;
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
}

.dropdown-content,
.drop-btn {
  max-width: 100%;
}
/* --------------
* Text End *
* General Start *
--------------- */
/* * Flex * */
body,
nav,
main,
#dice-container,
aside,
footer {
  display: flex;
}

body,
main,
aside {
  flex-direction: column;
}

#dice-container {
  flex-direction: row;
}

body,
nav,
main,
#dice-container,
aside,
footer {
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

body {
  width: 100%;
  padding: 10px 50px;
}
/* ------------
* General End *
* Nav start *
------------ */

nav {
  max-width: 100%;
}

nav,
.nav.btn,
.roll-btn {
  margin: 10px 0px;
}

.nav-btn,
.drop-btn {
  padding: 5px 10px;
  margin-inline: 5px;
}

#star-wars-btn {
  border-radius: 0px 0px 5px 5px;
}

.nav-btn,
.roll-btn,
#roleplays-btn {
  padding: 10px 20px;
}

.nav-btn,
.roll-btn,
#roleplays-btn {
  border: none;
}

.nav-btn,
#roleplays-btn {
  border-radius: 5px;
}

.nav-btn {
  margin-inline: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 39px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
}
/* ------------
* Nav End *
* Main Start *
------------- */

main {
  justify-content: center;
  align-items: center;
  max-width: 100%;
  border: none;
  margin-top: 10px;
  border-radius: 20px;
  padding: 50px 20px;
  width: 100%;
}

input {
  margin: 10px 0px;
  padding: 5px 10px;
  border: none;
}

.dice-checkbox {
  width: 30px;
  height: 30px;
  border-radius: 40px;
}

.roll-btn {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 15px 20px;
  box-shadow: -2px 2px 10px 1px var(--Background) inset;
  border-radius: 3px;
}

#dice-container {
  justify-content: space-evenly;
  width: 100%;
  padding: 0px 20px;
}

/* ------------
* Main End *
* Footer Start *
------------- */
footer {
  margin: auto;
}

/* -----------
* Footer End *
* Hover Start *
------------ */

#roleplays-btn:hover {
  border-radius: 5px 5px 0px 0px;
}

.dropdown:hover .dropdown-content,
.dropdown-content a {
  display: block;
}

/* ---------------
* Hover End *
* Screen sizes *
----------------- */
@media screen and (max-width: 375px) {
  nav {
    flex-direction: column;
  }
  .nav-btn {
    margin: 10px 0px;
  }
}
@media screen and (min-width: 425px) {
  nav {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  nav {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    flex-direction: row;
  }
}
