/*    
collors
#023e8a  = dark blue
#219ebc = medium blue
#8ecae6 = medium light blue
aqua = light blue

*/

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  font-weight: bold;
  min-height: 1080px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
}
/*=========================================
===========================================
                  Headder
===========================================
===========================================*/
.Headder {
  background-color: #023e8a;
  padding: 10px;
}
/*=========================================
===========================================
                  Hero
===========================================
===========================================*/

#hero {
  border: 0px;
  background-image: linear-gradient(to top, aqua, #219ebc, #219ebc, #219ebc);
  background-position: bottom;
  height: 360px;
  text-align: center;
}

.h1 {
  border-radius: 10px;
  background-color: orange;
}

#falling-dice {
  max-height: 100%;
  background-position: bottom;
}

/*=========================================
===========================================
               Funntion
===========================================
===========================================*/

.dices-roller {
  display: flex;
  border: 0px;
  background-color: #8ecae6;
  background-image: linear-gradient(
    to bottom,
    aqua,
    #8ecae6,
    #8ecae6,
    #8ecae6,
    aqua
  );
  background-position: bottom;
  min-height: 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.dices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 500px;
  margin-bottom: 30px;
}
#d10 {
  display: flex;
  background-image: linear-gradient(to bottom left, #ffd60a, #fb8500, #fb8500);
  background-position: bottom;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
  padding: 15px 20px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#d12 {
  display: flex;
  background-image: linear-gradient(to top right, #ffd60a, #fb8500, #fb8500);
  background-position: bottom;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
  padding: 15px 30px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

#d20 {
  display: flex;
  background-image: linear-gradient(to bottom right, #ffd60a, #fb8500, #fb8500);
  background-position: bottom;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
  padding: 15px 25px;
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

#d100 {
  display: flex;
  background-image: linear-gradient(to top left, #ffd60a, #fb8500, #fb8500);
  background-position: bottom;
  text-align: center;
  margin-top: 60px;
  padding: 15px 15px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

/*=========================================
===========================================
           !!!!! Button !!!!                      
===========================================
===========================================*/

#home-btn {
  background-color: #fb8500;
  border-radius: 30px;
  padding: 5px 10px;
  border: none;
  margin-left: 30px;
}

#News-btn {
  background-color: #fb8500;
  border-radius: 30px;
  padding: 5px 10px;
  border: none;
  margin-left: 30px;
}

.btn {
  display: flex;
  background-position: bottom;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 60px;
  min-width: 500px;
  margin-bottom: 90px;
}

#D10-btn {
  background-color: #fb8500;
  border-radius: 30px;
  padding: 5px 10px;
  border: none;
}

#D12-btn {
  background-color: #fb8500;
  border-radius: 30px;
  padding: 5px 10px;
  border: none;
}

#D20-btn {
  background-color: #fb8500;
  border-radius: 30px;
  padding: 5px 10px;
  border: none;
}

#D100-btn {
  background-color: #fb8500;
  border-radius: 30px;
  padding: 5px 10px;
  border: none;
}

#sum {
  margin-top: 100px;
  background-color: #fb8500;
  border-radius: 30px;
  padding: 10px 30px;
  border: none;
  font-size: 30px;
}

/*=========================================
===========================================
            !!!!! Hover !!!!                      
===========================================
===========================================*/

#Home-btn:hover {
  background-color: #c96d04;
  color: white;
}

#News-btn:hover {
  background-color: #c96d04;
  color: white;
}

#D10-btn:hover {
  background-color: #c96d04;
  color: white;
}

#D12-btn:hover {
  background-color: #c96d04;
  color: white;
}

#D20-btn:hover {
  background-color: #c96d04;
  color: white;
}

#D100-btn:hover {
  background-color: #c96d04;
  color: white;
}

#sum:hover {
  background-color: #c96d04;
  color: white;
}
/*=========================================
===========================================
         !!!!!!  Fotter   !!!!!!!                   
===========================================
===========================================*/

.fotter {
  min-height: 360px;
  background-image: linear-gradient(to bottom, aqua, #219ebc, #219ebc, #219ebc);

  text-align: center;
}

#resolte {
  margin-top: 80px;
  margin-inline: auto;
  font-size: xx-large;
  background-color: white;
  border-radius: 10px;
  max-width: 300;
}
